/*
Initial Color Palette:
    black and white gameboy with color pokemon sprites
background color: (off white) #FCFAFD, rgb(252, 250, 253)
    primary color: (dark grey) #3A393B, rgb(58, 57, 59)
    secondary color: (light grey) #888587, rgb(136, 133, 135)
        light accent color: (lightest grey) #EAE8EA, rgb(234, 232, 234)
        dark accent color: (darkest grey) #555355, rgb(85, 83, 85)


Fonts:
Text:VT323
Heading: VT323
Logo: (eventually) Pixelboy
*/

/*Universal Styling*/
:root {
    --background-color: #FCFAFD;
    --heading-color: #3A393b;
    --primary-color: #3A393b;
    --secondary-color: #888587;
    --li-accent-color: #EAE8EA;
    --da-accent-color: #555355;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

h1 {
    font-family: 'VT323', monospace;
    font-size: x-large;
    color: var(--heading-color);
}

p {
    font-family: 'VT323', monospace;
    font-size: large;
    text-align: center;
}

ul {
    list-style: none;
}

/*Header Styling*/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__item {
    flex-basis: 25%;
}

/*Main Section Styling*/
main {
    width: 90%;
    margin: auto;
    padding: 40px;
}

.button {
    border: 1px solid rgb(58, 58, 58);
    border-radius: 3px;
    background-color: rgba(134, 137, 117, .3);
    margin: 6px;

    /*grid styling*/
}

.button:hover {
    background-color: rgba(134, 137, 117, .1);
}

.special {
    font-size: medium;
    color: var(--heading-color);
}

li {
    /*container grid styling*/
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/*Modal Styling*/
#modal-container{
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: block;
}

.modal {
    margin: 30px auto;
    display: block;
    box-sizing: border-box;
    background-color: var(--background-color);
    padding: 20px;
    width: 80%;
    max-width: 700px;
    text-align: center;
    border-style: solid;
    border-width: 39px;
    border-image: url("/img/border.png") 39 stretch;
}

.modal-close {
    float: right;
    border: 0;
    background-color: var(--background-color);
    color: #777;
    text-decoration: underline;
}

/*Media Queries*/
@media all and (min-width: 600px) {
    p {
        font-size: x-large;
    }
    .special {
        font-size: large;
    }
}